// 2. Set your own initial variables
// Add pink and its invert
$void-red: #f21717;
$void-red-invert: #fff;

$grey-darker: #1b1b1d;

// Add a serif family
$family-serif: "Open Sans", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $void-red;
$primary-invert: $void-red-invert;

// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);


// New colors for elements
$footer-background-color: $grey-darker;
